<div class="col s12 center-align">
  <h2 class="header">Upcoming walks</h2>
  <ul>
    <% @walks[:upcoming_walks].each do |walk| %>
      <li>
        <div class="card">
          <div class="card-image google_maps">
            <iframe src="//www.google.com/maps/embed/v1/directions?origin=<%= walk.starting_location %>
                  &destination=<%= walk.destination %>
                  &key=<%=ENV['GOOGLE_API_KEY_2']%>
                  &mode=walking" width="600", height="300" frameborder="0" style="border:0">
            </iframe>
          </div>
          <div class="card-content">
            <ul>
              <li><strong>Starting location</strong>: <%= walk.starting_location %></li>
              <li><strong>Walk destination</strong>: <%= walk.destination %></li>
              <li><strong>Walk time</strong>: <%= walk.walk_time %></li>
            </ul>
          </div>
          <div class="card-action">
            <% if walk.accepted %>
              <%= link_to "Coordinate with your companion", walk.chatroom %>
            <% else %>
              <strong>This walk is still waiting for a companion.</strong>
            <% end %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<!--  Recent Walks -->

<div class="col s12 center-align">
  <h2 class="header">Recent walks</h2>
  <ul>
    <% @walks[:recent_walks].each do |walk| %>
      <li>
        <div class="card">
          <div class="card-image google_maps">
            <iframe src="//www.google.com/maps/embed/v1/directions?origin=<%= walk.starting_location %>
                  &destination=<%= walk.destination %>
                  &key=<%=ENV['GOOGLE_API_KEY_2']%>
                  &mode=walking" width="600", height="300" frameborder="0" style="border:0">
            </iframe>
          </div>
          <div class="card-content">
            <ul>
              <li><strong>Starting location</strong>: <%= walk.starting_location %></li>
              <li><strong>Walk destination</strong>: <%= walk.destination %></li>
              <li><strong>Walk time</strong>: <%= walk.walk_time %></li>
            </ul>
          </div>
          <div class="card-action">
            <%= link_to 'Accept Walk', user_walk_path(walk.requester, walk, guardian_id: current_user.id), method: :put %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
