<%= form_for [@current_user, @walk] do |f| %>
	<div class="input-field col s12">
	  <%= f.hidden_field :starting_location, id: "input_location", class: "validate" %>
  </div>

  <div class="input-field col s12">
 		<%= f.hidden_field :destination, id: "input_destination", class: "validate" %>
  </div>

  <div class="input-field col s12">
 		<%#= label_tag(:walk_time, "Time to go:") %>
 		<%= f.datetime_local_field :walk_time, class: "validate" %>
  </div>


  <div class="input-field col s12">
  	<%= f.submit "Submit", class: "btn waves-effect waves-light right" %>
  </div>
<% end %>