<h1>All your walks</h1>
<div class="row">
  <div class="col s12 m6">
    <h2 class="header"> Coming up soon</h2>
    <div class="card horizontal">
  		<div class="card-stacked">
  			<ul>
  				<% @walks[:upcoming_walks].each do |walk|%>
  				<div id="cards-content">
  				<li><%= walk.starting_location %></li>
  				<li><%= walk.accepted %></li>
  				<li><%= walk.requester.username %></li>
  				<li><%= walk.destination %></li>
  				<li><%= walk.walk_time %></li>
  				</div>
  			<% end %>
  			</ul>
  	  </div>
    </div>
  </div>

  <div class="col s12 m6">
    <h2 class="header"> How'd It Go?</h2>
    <div class="card horizontal">
      <div class="card-stacked">
        <ul>
          <% @walks[:recent_walks].each do |walk|%>
          <div id="cards-content">
          <li><%= walk.starting_location %></li>
          <li><%= walk.accepted %></li>
          <li><%= walk.requester.username %></li>
          <li><%= walk.destination %></li>
          <li><%= walk.walk_time %></li>
          </div>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
